.site-header {
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout {
  color: #1f2a4b;
  font-size: 16px;
}
