.signUp {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.submitButton {
  border-radius: 4px;
  border: solid 1px #4a77e5;
  background-color: #4a77e5;
  height: 36px;
  font-size: 16px;
  color: #ffffff;
}

.linkToLogin {
  font-size: 14px;
  color: #1f2a4b;
}
